-# default themes and modes
- themes = %w(twilight)
- modes = %w(javascript ruby html xml css)

#ace_container
  %pre#editor
    :preserve
      #{@contents}    
  %script{:charset => "utf-8", :src => "/js/ace/ace.js", :type => "text/javascript"}
  - themes.each do |theme|
    %script{:charset => "utf-8", :src => "/js/ace/theme-#{theme}.js", :type => "text/javascript"}
  - modes.each do |mode|
    %script{:charset => "utf-8", :src => "/js/ace/mode-#{mode}.js", :type => "text/javascript"}


%ul.nav
  %li#filelist_btn Toggle Filelist
  %li#save_btn Save File
  %li#pull_btn Pull
  %li#push_btn Push & Deploy  
  %li#log_btn Log
  %li#preview_btn Preview
  

  
#filelist
  %ul#pane{ style: "display: none" }
    %li.delete Delete File
    %li.new_file New File
    %li.new_folder New Folder
  #filetree.demo
  
#project{ :"data-name" => "" }
#file{ :"data-name" => "", :"data-path" => "" }
#selection{ :"data-path" => ""  }
  
